{% extends "base.html" %}
{% load i18n %}

{% block content %}

<div class="content">
    <h3 class="text-center">{% trans "Thanks for spending some quality time with the Web site today." %} </h3>

    <h4 class="text-center"><a href="{% url 'accounts:login' %}">{% trans 'Log in again' %}</a></h4>
</div>
<br>
<style>
    .content{
        display: block;
        margin-top: 5%;
        font-family:'Poppins', sans-serif;
        justify-content: center;
    }
    footer{
        margin-top: 43%;
    }

</style>

{% endblock %}