{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'profile.css' %}">
<style>
  p{
    margin-top: 0;
  }
</style>
<h2 class="h-2">My Profile:</h2>
<div class="allnews">
    <img src="{% static 'images/profile.png' %}" alt="" class="img">

  <div class="container">
      <h4 class="title">Username: <span>{{ request.user.username }}</span> </h4>
      <h4 class="title">Date Joined: <span>{{ request.user.date_joined }} </span></h4>
      <h4 class="title">Email: <span>{{ request.user.email }}</span></h4>
      <h4 class="title">Last Login: <span>{{ request.user.last_login }}</span></h4>
  </div>
    <h1 class="h-2">Reservations</h1>
    <div class="container-2">
        {%for item in reservation_list%}
        <p>Name: <span>{{item.reservation.Name}}</span></p>
        <p>Date: <span>{{item.reservation.Date}}</span></p>
        <p>Date: <span>{{item.reservation.Res_name}}</span></p>
        {%endfor%}
    </div>
  </div>

{% endblock %}