{% extends "base.html" %}
{% block content %}
{% load static %}
    <br>
    <br>
    <br>
    <style>

        .content-left{
            background-color: #fb5849;
        }
        .logo{
            position: absolute;
            margin-left: 7%;

            width: 20%;
        }
        .content-left-inner{
            padding-top:10%;
        }
        .list-img{
            height: 100%;
        }
    </style>


        <div class="content">
            <div class="content-left">
                <img  class="logo" src="{{ logo.url }}" alt="img1">
                <div class="content-left-inner">
                    <h4>{{ title }}</h4>
                    <div class="btn-res">
                        <a href="/reservation/">Make A Reservation</a>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="wrapper">
                    <img class="list-img" src="{{ img1.url }}" alt="img1">
                    <img class="list-img" src="{{ img2.url }}" alt="img1">
                    <img class="list-img" src="{{ img3.url }}" alt="img1">
                    <img class="list-img" src="{{ img2.url }}" alt="img1">
                </div>

            </div>
        </div>
<!--    <p>Restaurant {{ title }}</p>-->
<!--    <p>Desctription {{ description }}</p>-->
<!--    <img src="{{ logo.url }}" alt="img1">-->
<!--    <img src="{{ img1.url }}" alt="img1">-->
<!--    <img src="{{ img2.url }}" alt="img1">-->
<!--    <img src="{{ img3.url }}" alt="img1">-->
<!--    <br>-->

    {% for menu in menus %}
            <p>{{ menu.name }}</p>
            <p>{{ menu.price }}</p>
            <img src="{{ menu.img.url }}" alt="img">
          {% endfor %}
{% endblock %}