{% extends "base.html" %}
{% block content %}
{% load static %}

    <style>
        .content-left{
            background-color: #fb5849;
        }
    </style>


        <div class="content">
            <div class="content-left">
                <div class="content-left-inner">
                    <h4>{{ title }}</h4>
                    <div class="btn-res">
                        <a href="/reservation/">Make A Reservation</a>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="wrapper">
                    <img src="{{ logo.url }}" alt="img1">
                    <img src="{{ img1.url }}" alt="img1">
                    <img src="{{ img2.url }}" alt="img1">
                    <img src="{{ img3.url }}" alt="img1">
                </div>

            </div>
        </div>
<div class="menus">
        <div class="chast_top">
            <ul class="chast">
                {% for menu in menus %}
                <div class="insite">
                    <img src="{{ menu.img.url }}" alt="img">

                    <div class="discr">
                        <h3>{{ menu.name }}</h3>
                        <div class="rate">
                            <i class="bi bi-star-fill"></i>
                            {{ menu.price }}
                            <span>$</span>
                            <span style="color: rgb(106, 106, 106);">$</span>
                            <span style="color: rgb(162, 162, 162);">$</span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </ul>
        </div>
    </div>

<!--    {% for menu in menus %}-->
<!--            <p>{{ menu.name }}</p>-->
<!--            <p>{{ menu.price }}</p>-->
<!--            <img src="{{ menu.img.url }}" alt="img">-->
<!--          {% endfor %}-->
{% endblock %}