<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'about.css' %}">
    <link rel="stylesheet" href="{% static 'media.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>
    <script src="https://kit.fontawesome.com/ff1a448a1e.js" crossorigin="anonymous"></script>
    <title>Klassy</title>
</head>
<body>
    <header>
        <nav>
            <div class="head">
                <h1>Klassy</h1>
                <ul id="menu_bx">
                    <li><a href="/">Home</a></li>
                    <li><a href="/reservation/">Reservation</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="/accounts/logout">Logout</a></li>
                    {% else %}
                        <li><a href="/accounts/login">Login</a></li>
                        <li><a href="/register">Sign up</a></li>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <li><a href="/accounts/profile">User:{{ user.username }}</a><li/>
                    {% endif %}

                </ul>
                <i class="bi bi-list"></i>
            </div>
        </nav>
        {% block content %}

        {% endblock %}
    <footer style="position: relative; bottom: 0;width: 100%;">
        <div class = "ww" >
            <div class="qw">
                <div class="social">
                    <a class="social__icon instagram" href="https://www.instagram.com/?ysclid=lbt9qtobu8518243064" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                    <a class="social__icon youtube" href="https://youtu.be/XVtxye3c4AU" target="_blank"><i class="fa-brands fa-youtube "></i></a>
                    <a class="social__icon git" href="https://github.com/Marsiha/FinalProject" target="_blank" ><i class="fa-brands fa-github"></i></a>
                    <a class="social__icon twitter" href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                    <!-- <a class="social__icon linkedin" href="#"><i class="fa-brands fa-linkedin"></i></a> -->
                </div>
                <div>
                    <img src="{% static 'images/white-logo.png' %}" alt="ab2" width="170" height="55">
                </div>
                <div>
                    <p style="font-size: 15px; color: white; margin-left: 40px">
                        Opening Hours <br>Everyday <br>10.00 Am - 10.00 Pm
                    </p>
                </div>
            </div>
            <hr style="margin: 0px 40px">
            <p style="font-size: 13px; color: white; margin-left: 40px; text-align: center">© 2022 All Rights Reserved By Free Html Templates</p>
        </div>
    </footer>
    <script src="add.js"></script>
</body>
</html>