.h-2, p{
    text-align: center;
    margin-top:5%;
    font-family: Times, 'Times New Roman', Georgia, serif;
    justify-content: center;
    align-items: center ;
    font-size: 24px;
}
.container{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;

}
.container-2{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;

}
.img{
    margin-bottom: 2%;
    width: 150px;
    height: 170px;
}
.title{
    font-family: Times, 'Times New Roman', Georgia, serif;
}
.allnews{
    width: 100%;
    margin-left: 15px;
    padding: 10px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
span{
    font-weight: 300;
}
h4{
    font-weight: bold;
    font-size: 22px;
}